
*,*::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    width: 750px;
    height: 300px;
    min-width: 300px;
    position: relative;
    top: 250px;
    border-radius: 20px;
    box-shadow: 0 0 25px 1px black;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-flow: column;
}
.title{
    height: 100px;
    text-align: center;
    font-size: 40px;
}
.title.text{
    padding: 25px;
}
.search{
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 15px 75px;
}
.search.field{
    width: 80%;
    font-family: 'Monserrat', sans-serif;
}
.search.button{
    width: 20%;
    font-family: 'Monserrat', sans-serif;
    font-size: 14px;
}
.style{
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 5px 75px;
    flex-flow: column;
}
.style.label{
    width: 75%;
    margin: 5px;
}
.style.selector{
    width: 20%;
    padding: 1em;
    text-align: justify;
    border: none;
}
.body#dark{
    background-color: rgb(17, 17, 17);
}
.container#dark{
    background-color: rgb(41, 41, 41);
    color: #fff;
}
.field#dark{
    box-shadow: inset 0 0 5px 1px rgb(31, 31, 31);
    background-color: rgba(70, 70, 70, 0.905);
    margin-right: 15px;
    border-radius: 5px;
}
.button#dark{
    box-shadow: 0 0 5px 3px rgba(31, 31, 31, 0.905);
    background-color: rgb(41, 41, 41);
    margin-right: 15px;
    border: none;
    color: #fff;
    border-radius: 5px;
}
.button#dark:active{
    box-shadow: none;
}
.selector#dark{
    background-color: rgba(70, 70, 70, 0.905);
    box-shadow: inset 0 0 8px 2px rgb(31, 31, 31);
    color: #fff;
    border: 1px solid rgba(70, 70, 70, 0.905);
    border-radius: 5px;
}
.body#clear{
    background-color: rgb(214, 223, 237);
}
.container#clear{
    background-color: rgb(165, 178, 198);
}
.field#clear{
    box-shadow: inset 0 0 5px 3px rgba(126, 133, 154, 0.905);
    background-color: rgb(150, 158, 170);
    margin-right: 15px;
    border-radius: 5px;
    border: none;
}
.button#clear{
    box-shadow: 0 0 5px 3px rgba(126, 133, 154, 0.905);
    background-color: rgb(165, 178, 198);
    margin-right: 15px;
    border: none;
    color: rgb(35, 35, 35);
    border-radius: 5px;
}
.button#clear:active{
    box-shadow: none;
}
.selector#clear{
    background-color: rgb(150, 158, 170);
    box-shadow: inset 0 0 8px 2px rgba(126, 133, 154, 0.905);
    color: rgb(35, 35, 35);
    border-radius: 5px;
}
.body#red{
    background-color: rgb(92, 8, 9);
}
.container#red{
    background-color: rgb(181, 16, 16);
    color: rgb(186, 186, 186);
    border-radius: 40px;
}
.field#red{
    box-shadow: inset 0 0 5px 3px rgb(92, 8, 9);
    background-color: rgb(181, 16, 16);
    margin-right: 15px;
    border-radius: 25px;
    border: none;
}
.button#red{
    box-shadow: 0 0 5px 3px rgb(92, 8, 9);
    background-color: rgb(181, 16, 16);
    margin-right: 15px;
    border: none;
    color: rgb(186, 186, 186);
    border-radius: 25px;
}
.button#red:active{
    box-shadow: none;
}
.selector#red{
    background-color: rgb(181, 16, 16);
    color: rgb(186, 186, 186);
    border-radius: 25px;
}
.body#blue{
    background-color: rgb(8, 21, 92);
}
.container#blue{
    background-color: rgb(16, 49, 181);
    color: rgb(186, 186, 186);
    border-radius: 40px;
}
.field#blue{
    box-shadow: inset 0 0 5px 3px rgb(8, 21, 92);
    background-color: rgb(16, 49, 181);
    margin-right: 15px;
    border-radius: 25px;
    border: none;
}
.button#blue{
    box-shadow: 0 0 5px 3px rgb(8, 21, 92);
    background-color: rgb(16, 49, 181);
    margin-right: 15px;
    border: none;
    color: rgb(186, 186, 186);
    border-radius: 25px;
}
.button#blue:active{
    box-shadow: none;
}
.selector#blue{
    background-color: rgb(16, 49, 181);
    color: rgb(186, 186, 186);
    border-radius: 25px;
}
@media all and (max-width: 750px){
    .container{
        width: 90%;
        top: 100px;
        box-shadow: none;
    }
    .title{
        font-size: 35px;
    }
    .search{
        flex-flow: column;
        padding: 5px 25px;
        align-items: center;
    }
    .search.field{
        padding: 5px 0;
        margin-bottom: 3px;
        padding-left: 10px;
        width: 95%;
    }
    .search.button{
        width: 95%;
    }
    .style{
        padding: 5px 25px;
        flex-flow: row;
    }
    .style.label{
        width: 60%;
        font-size: 14px;
    }
    .style.selector{
        width: 40%;
        margin-right: 15px;
    }
    .container#dark{
        background-color: inherit;
    }
    .field#dark{
        padding: 15px;
    }
    .button#dark{
        margin-top: 15px;
        padding: 15px;
        width: 65%;
        border: double 4px rgb(36, 36, 36);
        background-color: inherit;
    }
    .button#dark:hover{
        border: double 4px rgb(114, 114, 114);
        background-color: rgb(41, 41, 41);
    }
    .selector#dark{
        background-color: rgb(17, 17, 17);
        border: none;
        box-shadow: none;
        margin-top: 5px;
    }
    .container#clear{
        background-color: inherit;
    }
    .field#clear{
        background-color: inherit;
        padding: 15px;
    }
    .button#clear{
        margin-top: 15px;
        padding: 15px;
        width: 65%;
    }
    .selector#clear{
        background-color: inherit;
        color: rgb(51, 51, 51);
        border: none;
        box-shadow: none;
        margin-top: 5px;
    }
    .container#red{
        background-color: inherit;
    }
    .field#red{
        padding: 15px 0 15px 15px;
        border: double 3px rgb(59, 6, 6);
    }
    .button#red{
        width: 45%;
        background-color: inherit;
        margin-top: 15px;
        border-radius: 5px;
    }
    .button#red:active{
        text-decoration: underline;
    }
    .selector#red{
        background-color: rgb(92, 8, 9);
    }

    .container#blue{
        background-color: inherit;
    }
    .field#blue{
        padding: 15px 0 15px 15px;
        border: double 3px rgb(8, 21, 92);
    }
    .button#blue{
        width: 45%;
        background-color: inherit;
        margin-top: 15px;
        border-radius: 5px;
    }
    .button#blue:active{
        text-decoration: underline;
    }
    .selector#blue{
        background-color: rgb(16, 49, 181);
    }
}
@media all and (max-width: 380px){
    .pesquisa.button{
        font-size: 10px;
    }
    .style.label{
        font-size: 10px;
    }
    .style.selector{
        font-size: 8px;
        padding: 0;
    }
}